<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <title>URL Shortener</title>
  </head>
  <body class="text-blue-500">
    {{ message }}
  </body>
</html>